*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


.caja1{    
    background-color: rgb(178, 129, 224);  
}
.div1{
    text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 50%;   
    margin: 0 auto;   
    background-color: blueviolet;
}



.icon{
    vertical-align: middle;
    width: 15px;

}
.div1 a{
    margin-right: 15px;
    text-decoration: none;
    color:white;
}
/* .srch{
    padding: 5px; 
    display: inline;
    height: 160px;
    border-radius: 3px 3px 3px 3px;
    background-color: rgb(255, 255, 255);
       
} */

.span-imagen{
    
    background-color: rgb(136, 88, 88);
}
/* .icon-search{
    padding-top: 14px;
    padding-bottom: 8px;
    border-radius: 3px 0px 0px 3px;     
    background-color: white;    
} */
button{
    background-color: white;
    padding: 9px;
    border: 0;
    border-top: 1px solid white;
    border-radius: 3px 0px 0px 3px;
}
.input-search{    
    /* margin-right: 4px; */
       
    border-radius: 0px 3px 3px 0px;
    border: none;
    height: 35px;
    width: 130px;
}

.cuerpo{
    background-color: aquamarine;
    width: 53%;
    margin: 0 auto;
}
.div-imagen-creative, .imagen-grande{
    box-sizing: border-box;
}

.links{
    margin-right: 20px;
}
.imagen-creative{
    margin-right: 150px;
}
.nav-link{
    font-size: 30px;
    text-decoration: none;
    margin-left: 30px;
}

.seccion-imagen-central{
    text-align: right;
}

.imagen-grande{
    margin: 0 auto;
    background-color: brown;
    width: 50%;
    height: 600px;
}