
*{
    border: 1px solid blue;
}
.my-header{
    width: 50%;
    display: flex;
    flex-direction: row;
    
  
    justify-content: flex-end;
    background-color: rgb(233, 79, 7);
    width: 100%;
}

.div2{
    align-self: flex-end;
}

.icon{
    width: 25px;
    height: 25px;
}