*{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0; 
}

#my-header{
    /* border: 1px solid red; */
    border: 0;
    height: 5;   
    background-color: #e4c8c0;
}

#parte1{    
    display: inline-block; 
    width: 50%;
    background-color: aqua;
}
#parte2{   
    display: inline-block; 
    width: 50%;
    background-color: aqua;
}
/*
#parte3{
    width: 25%;
    background-color: aqua;
}
#parte4{
    width: 23%;
    background-color: aqua;
} */
